<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/globalStyle.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor">
<nav th:insert="/fragments/dashboard.html :: userDashboard"></nav>
<div class="container">
    <h1 class="text-center mx-auto pt-5 mt-5 mb-5 text-light">Choose Survey</h1>
    <th:block th:each="survey : ${surveys}">
        <form th:action="@{/comps_surveys/survey}" method="get">
            <input type="hidden" class="btn btn-lg btn-outline-light btn-block mt-4" name="s" th:value ="${survey.Id}">
            <input type="submit" class="btn btn-lg btn-outline-light btn-block mt-4" th:value="${survey.surveyName} + ' ' + ${survey.voucher.voucherDescription}">
        </form>
    </th:block>
</div>
</body>
</html>