<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="defaultColor">
    <div class="container defaultColor">
        <div class="card text-center">
            <div class="card-header">
                Receive a voucher
                <i class="fa fa-camera-retro"></i>
            </div>
            <div class="card-body">
                <h4 class="card-title">You have completed a survey!</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Receive</a>
            </div>
        </div>
    </div>
</body>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{js/jquery-3.2.1.min.js}"></script>

</html>

