<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="defaultColor">
    <div class="container defaultColor">
        <div class="card text-center">
            <div class="card-header">
                You have completed a survey!
            </div>
            <div class="card-body">
                <h4 class="card-title" id="asd">You have successfully completed a survey!</h4>
                <span>
                    <p>Mind to tell us a few things about yourself? </p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseStats" aria-expanded="false" aria-controls="multiCollapseStats">Toggle both elements</button>
                </span>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseStats">
                            <div class="card card-body">
                                Halo
                                <span>
                                    <p>Age:</p>
                                    <input type="number" min="13" max="120" step="1" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Receive <i class="fa fa-gift"></i></a>
            </div>
        </div>
    </div>
</body>

</html>

