<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="'Survey ' + ${survey.surveyName}">Survey title</title>
</head>
<body>
    <p th:text="${survey.surveyName}">Template survey description</p>
    <form th:action="${flowExecutionUrl}" th:object="${answeredSurveyForm}"  method="post">
        <div th:each="question, iter : ${survey.questionsDto}">
            <div th:insert="/fragments/survey_question.html :: inputQuestion(${question}, *{answers})"></div>
        </div>

        <input type="submit" name="_eventId"  value="Submit">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
    </form>
</body>
</html>