<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Survey for ' + ${surveyCompany} + ' number '+ ${surveyId}">Template title</title>
</head>
<body>
<form th:action="@{/fill_survey}"  method="post">
    <div><input type="submit" name="submit" value="Confirm"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
</form>
    <p th:text="${surveyName} + ' by ' + ${surveyCompany}">Template survey description</p>
    <form th:action="@{/surveys}" method="post">
        <div th:each="question : ${questions}">
            <div th:insert="/fragments/survey_question.html :: inputQuestion(${question})"></div>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>