<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Check your e-mail</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="defaultColor text-center text-light">
<nav th:insert="/fragments/dashboard.html :: userDashboard"></nav>
    <div class="container">


        <div class="row " style="margin-top:8rem">
            <div class="col" th:object="${voucherCode}">
                <h1>We sent you a voucher!<br> Check your mailbox or use information below!</h1>
                <h4 class="mt-4" th:text="*{'Voucher Description: '+voucherDescription}">Voucher Description:</h4>
                <h4 class="mt-3" th:text="*{'Discount Type: ' + discountType}">Discount Type:</h4>
                <h4 class="mt-3" th:text="*{'Discount Amount: '+discountAmount}">Discount Amount:</h4>
                <h4 class="mt-3" th:text="*{'Start Date: '+startDate}" >Start Date:</h4>
                <h4 class="mt-3" th:text="*{'End Date: '+endDate}"> End Date:</h4>
                <h4 class="mt-3" th:text="*{'Code: '+voucherCode}"> End Date:</h4>
            </div>


            <div class="col">

                        <i class="fa fa-lg fa-envelope-o fa-5x envelopeBig text-center text-light mb-3"></i>

                        <a class="form-control btn btn-danger btn-lg mt-3" th:href="@{/}">Go to the main page</a>

            </div>
        </div>
    </div>
</body>
</html>


<style>

    .envelopeBig {
        font-size: 300px;
    }
</style>
