<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="${flowExecutionUrl}" th:object="${company}">
    <table>
        <tr>
            <div th:insert="fragments/fields_input.html :: inputText(#{label.postalCode},'postalCode')"></div>
        </tr>
        <tr>
            <div th:insert="fragments/fields_input.html :: inputText(#{label.town},'city')"></div>
        </tr>
        <tr>
            <div th:insert="fragments/fields_input.html :: inputText(#{label.address},'addressDetails')"></div>
        </tr>
        <tr>
        <td><input type="submit" name="_eventId" value="previousStep"/></td>
        <td><input type="submit" name="_eventId" value="cancel"/></td>
        <td>
            <input type="submit" name="_eventId" value="nextStep"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </td>
        </tr>
    </table>
</form>
</body>
</html>