<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/globalStyle.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor defaultMaxWidth mx-auto">
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<div class="container">
    <div class="card card-login mx-auto" style="margin-top:8rem">
        <div class="card-header">Sing Up</div>
        <div class="card-body">
            <form method="post" th:action="${flowExecutionUrl}" th:object="${company}">
                <div th:insert="fragments/fields_input.html :: bootStrapInputText(#{label.company_name},'companyName','Company name')"></div>
                <div th:insert="fragments/fields_input.html :: bootStrapInputText(#{label.eMail},'userName','E-mail')"></div>
                <div th:insert="fragments/fields_input.html :: bootStrapInputPassword(#{label.password},'password','Password')"></div>
                <div th:insert="fragments/fields_input.html :: bootStrapInputPassword(#{label.rePassword},'repeatedPassword','Repeat password')"></div>
                <input class="btn btn-primary btn-block mt-4" type="submit" name="_eventId" value="nextStep"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>