<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Pierwszy step
    <form method="post" th:action="${flowExecutionUrl}">
        <table>
            Company name:<br>
            <input type="text" name="company_name"><br>
            E-mail:<br>
            <input type="text" name="email">
            <td>
                <input type="submit" name="_eventId" value="nextStep"/>
            </td>
            <td>
                <input type="submit" name="_eventId" value="cancel"/>
            </td>
        </table>
    </form>
</body>
</html>