<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<br>
<div th:text="${'Change companys address'}">Change address form:</div>
<form th:action="@{/my_account/account_panel/companyAddress}" th:object="${addressForm}" method="post">
    <div><span th:text="${'Postal code: '}"></span><input type="text" th:field="*{postalCode}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.postalCode}')"></div>
    <div><span th:text="${'City: '}"></span><input type="text" th:field="*{city}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.city}')"></div>
    <div><span th:text="${'Address details: '}"></span><input type="text" th:field="*{addressDetails}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.addressDetails}')"></div>
    <div><input type="submit" name="submit" value="Confirm"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
</form>
<br>
<div th:text="${'Change companys details'}">Change address form:</div>
<form th:action="@{/my_account/account_panel/companyDetails}" th:object="${companyForm}" method="post">
    <div><input type="text" th:field="*{companyName}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${companyForm.companyName}')"></div>
    <div><input type="submit" name="submit" value="Confirm"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
</form>
<br>
<div th:text="${'Change password'}">Change address form:</div>
<form th:action="@{/my_account/account_panel/password}" th:object="${passwordForm}" method="post">
    <div><span th:text="${'Old password: '}"></span><input type="text" th:field="*{oldPassword}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.oldPassword}')"></div>
    <div><span th:text="${'New Password: '}"></span><input type="text" th:field="*{password}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.password}')"></div>
    <div><span th:text="${'Repeated New Password: '}"></span><input type="text" th:field="*{repeatedPassword}"/></div>
    <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.repeatedPassword}')"></div>
    <input type="submit" name="submit" value="Confirm"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>

</body>
</html>