<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Account panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor mx-auto">
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<div class="container text-center text-light">
    <div class="pt-5"></div>
    <div th:if="${error!=null}">
        <div class="mx-auto">
            <div class="my-5 alert alert-danger alert-dismissible fade show" role="alert">
                <div th:text="${error}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <h2 class=" pt-5 mt-5 mb-5" th:text="${'Company Profile'}"></h2>
    <div class="row">
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <h4 class="mb-3" th:text="${'Companys address'}">Change address form:</h4>
            <form th:action="@{/my_account/account_panel/companyAddress}" th:object="${addressForm}" method="post">
                <h5 class="mt-2" th:text="${'Postal code: '}"></h5><input class="form-control" type="text" th:field="*{postalCode}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.postalCode}')"></div>
                <h5 class="mt-2" th:text="${'City: '}"></h5><input class="form-control" type="text" th:field="*{city}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.city}')"></div>
                <h5 class="mt-2" th:text="${'Address details: '}"></h5><input class="form-control" type="text" th:field="*{addressDetails}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${addressForm.addressDetails}')"></div>
                <div><input class="form-control mt-4" type="submit" name="submit" value="Confirm"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
            </form>
        </div>

        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <h4 class="mb-3" th:text="${'Companys details'}">Change address form:</h4>
            <form th:action="@{/my_account/account_panel/companyDetails}" th:object="${companyForm}" method="post">
                <h5 class="mt-2" th:text="${'Details: '}"></h5>
                <input class="form-control" type="text" th:field="*{companyName}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${companyForm.companyName}')"></div>
                <div><input class="form-control mt-4" type="submit" name="submit" value="Confirm"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
            </form>
        </div>


        <div class="col">
            <h4 class="mb-3" th:text="${'Change password'}">Change address form:</h4>
            <form th:action="@{/my_account/account_panel/password}" th:object="${passwordForm}" method="post">
                <h5 class="mt-2" th:text="${'Old password: '}"></h5><input class="form-control" type="text" th:field="*{oldPassword}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.oldPassword}')"></div>
                <h5 class="mt-2" th:text="${'New Password: '}"></h5><input class="form-control" type="text" th:field="*{password}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.password}')"></div>
                <h5 class="mt-2" th:text="${'Repeated New Password: '}"></h5><input class="form-control" type="text" th:field="*{repeatedPassword}"/>
                <div th:replace="fragments/fields_input.html :: field-errors('${passwordForm.repeatedPassword}')"></div>
                <input class="form-control mt-4" type="submit" name="submit" value="Confirm"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">

        </div>
        <div class="col float-right">
            <button class="btn btn-danger float-right btn-lg" data-toggle="modal" data-target="#deleteAccountModal">
                Delete account
            </button>
            <form method="post" id="deleteAccount" th:action="@{/my_account/account_panel/delete}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>

</div>

<!-- Modal -->
<div id="deleteAccountModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You are about to delete your account!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete the account? <span class="text-danger"><strong>All your data will be lost!</strong></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="document.getElementById('deleteAccount').submit()">Delete account</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>



</body>
</html>