<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor text-center">
<nav th:insert="/fragments/dashboard.html :: dashboard"></nav>
<div class="container">
    <div class="my-5 mx-auto text-light " th:if="${(param.success != null) and (param.success[0] == '1')}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Survey added successfully!</strong> You should add a Voucher to it right now.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="mx-auto my-5 pt-5 block-center">
        <div class="row">
            <div class="col mx-auto m-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col mx-auto m-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto m-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col mx-auto m-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>