<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor defaultMaxWidth mx-auto">
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<div class="container text-center text-light defaultCardMaxWidth">
    <h2 class=" mx-auto pt-5 mt-5 mb-5" th:text="${'Add new voucher'}"></h2>
<form th:action="@{/my_account/surveys/} + ${surveyId} +@{/addVoucher}" th:object="${voucherForm}" method="post">
    <h5>Discount Type:</h5>
    <th:block th:each="discount : ${discountType}">
        <label class="custom-control custom-radio">
            <input  class="custom-control-input" type="radio" name="discountType" th:field="*{discountType}" th:value="${discount}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description" th:utext="${discount}">Check this custom checkbox</span>
        </label>
    </th:block>
    <div th:replace="fragments/fields_input.html :: field-errors('${voucherForm.discountType}')"></div>
    <h5 class="mt-2">Discount Amount:</h5>
    <input class="form-control" type="number" th:field="*{discountAmount}">
    <div th:replace="fragments/fields_input.html :: field-errors('${voucherForm.discountAmount}')"></div>
    <h5 class="mt-2">Voucher Description:</h5>
    <input class="form-control" type="text" th:field="*{voucherDescription}">
    <div th:replace="fragments/fields_input.html :: field-errors('${voucherForm.voucherDescription}')"></div>
    <h5 class="mt-2">Start Date:</h5>
    <input class="form-control" type="date" th:field="*{startDate}">
    <div th:replace="fragments/fields_input.html :: field-errors('${voucherForm.startDate}')"></div>
    <h5 class="mt-2"> End Date:</h5>
    <input class="form-control" type="date" th:field="*{endDate}">
    <div th:replace="fragments/fields_input.html :: field-errors('${voucherForm.endDate}')"></div>
    <div><input class="form-control mt-4" type="submit" name="submit" value="Confirm"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
</form>
</div>
</body>
</html>