<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<form method="get" th:action="@{/my_account/manage_vouchers/create_new_voucher}">
    <input type="submit" value="Create New Voucher"/>
</form>
<form method="get" th:action="@{/my_account/manage_vouchers/view_existing_vouchers}">
    <input type="submit" value="View/modify existing vouchers"/>
</form>
</body>
</html>