<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #18BC9C; font-size: medium; font-family: Arial, cursive; font-style: italic; text-align: center;">
    <div style="color: white" th:text="#{reset.password.text}"></div>
    <a style="color: white" th:href="${resetPasswordLink}">CLICK IT</a>
    <hr style="width: 50%; text-align: center;">
    <footer>
        <p style="color: white; text-align: center; padding-botton: 5px">Message generated automatically, please do not reply to it.</p>
    </footer>
</body>
</html>