<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Survey creation</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="defaultColor">
<nav class="mb-5" th:insert="/fragments/dashboard.html :: dashboard"></nav>
    <div class="container-fluid">



        <div class="row">
            <div class="col-8">
                <div class="card mt-5 border-info">
                    <div class="card-body">
                        <h3 class="mx-auto mt-2 display-3">Survey creation</h3>
                        <hr>
                        <input id="survey_name" class="form-control form-control-lg mx-auto mt-3 mb-3" type="text" placeholder="Enter the survey name">
                        <input id="survey_description" class="form-control form-control-lg mx-auto mt-3 mb-3" type="text" placeholder="Enter the survey description">
                        <h4 class="display-4">Add question</h4>
                        <hr>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="single_choice_tab" data-toggle="tab" href="#single_choice" role="tab">Single choice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="multiple_choice_tab" data-toggle="tab" href="#multiple_choice" role="tab">Multiple choice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="open_tab" data-toggle="tab" href="#open" role="tab">Open</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ranged_tab" data-toggle="tab" href="#ranged" role="tab">Ranged</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" id="tab_content">
                            <div class="tab-pane fade show active" id="single_choice" role="tabpanel">
                                <div class="card card-block bg-light m-3 p-3" style="height: 11rem">
                                    <input class="form-control form-control-lg mx-auto mb-2 clear-me" type="text" placeholder="Enter the question body">
                                    <div class="form-row m-1">
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleA" placeholder="Answer A">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleB" placeholder="Answer B">
                                        </div>
                                    </div>
                                    <div class="form-row m-1">
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleC" placeholder="Answer C">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleD" placeholder="Answer D">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="multiple_choice" role="tabpanel">
                                <div class="card card-block bg-light m-3 p-3" style="height: 11rem">
                                    <input class="form-control form-control-lg mx-auto mb-2 clear-me" type="text" placeholder="Enter the question body">
                                    <div class="form-row m-1">
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleA" placeholder="Answer A">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleB" placeholder="Answer B">
                                        </div>
                                    </div>
                                    <div class="form-row m-1">
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleC" placeholder="Answer C">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control clear-me possibleD" placeholder="Answer D">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="open" role="tabpanel">
                                <div class="card card-block bg-light m-3 p-3 " style="height: 11rem">
                                    <input class="form-control form-control-lg mx-auto mb-2 mt-4 clear-me" type="text" placeholder="Enter the question body">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ranged" role="tabpanel">
                                <div class="card card-block bg-light m-3 p-3 text-center" style="height: 11rem">
                                    <input class="form-control form-control-lg mx-auto mb-2 mt-4 clear-me" type="text" placeholder="Enter the question body">
                                </div>
                            </div>
                        </div>
                        <button type=" mb-6" class="btn btn-primary float-right" onclick="addQuestion()">Add question</button>
                        <div class="row mt-5">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary btn-lg" onclick="addSurvey()">Add survey</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mt-5 fixed-panel" style="background-color: #007D65;">
                    <div class="card-header text-center text-light text-bold" style="background-color: #00A685">
                        <h4 class="display-4"><strong>Survey preview</strong></h4>
                    </div>
                    <div class="card-body">
                        <h3 id="previewSurveyName" class="text-center text-light my-3 mx-auto"></h3>
                        <div class="card-body" style="background-color: #007D65">
                            <h4 id="previewSurveyDescription" class="text-light lead text-center"></h4>
                        </div>
                        <ul id="previewListGroup" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Error!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="warningModalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" language="javascript">

    var activeTab = null;

    $(document).ready(function() {
        activeTab = $('#single_choice_tab').attr("id");
        $("#survey_name").change(function() {
            $('#previewSurveyName').text($("#survey_name").val());
        });
        $("#survey_description").change(function() {
            $('#previewSurveyDescription').text($("#survey_description").val());
        });
    });

    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        activeTab = e.target; // newly activated tab
        activeTab = $(activeTab).attr("id");
        $(".clear-me").map(function() {
            $(this).val("");
        });
    });

    function Survey(surveyName, surveyDescription, questions) {
        this.surveyName = surveyName;
        this.surveyDescription = surveyDescription;
        this.questions = questions;
    }

    function Question(questionBody, questionType) {
        this.questionBody = questionBody;
        this.questionType = questionType;
    }

    function ClosedQuestion(questionBody, questionType, possibleAnswers) {
        this.questionBody = questionBody;
        this.questionType = questionType;
        this.possibleAnswers = possibleAnswers;
    }

    function PossibleAnswers(possibleAnswerA, possibleAnswerB, possibleAnswerC, possibleAnswerD) {
        this.possibleAnswerA = possibleAnswerA;
        this.possibleAnswerB = possibleAnswerB;
        this.possibleAnswerC = possibleAnswerC;
        this.possibleAnswerD = possibleAnswerD;
    }

    var questions = [];

    function addQuestion() {
        var validatedProperly = false;
        switch (activeTab) {
            case "single_choice_tab":
                var $activePane = $('.tab-pane.active');
                var questionBody = $activePane.find('.form-control-lg').val();
                var questionType = "SINGLE_CHOICE";
                var possibleA = $activePane.find('.possibleA').val();
                var possibleB = $activePane.find('.possibleB').val();
                var possibleC = $activePane.find('.possibleC').val();
                var possibleD = $activePane.find('.possibleD').val();
                var possibleAnswers = new PossibleAnswers(possibleA, possibleB, possibleC, possibleD);
                var closedQuestion = new ClosedQuestion(questionBody, questionType, possibleAnswers);
                if(validateClosedQuestion(closedQuestion)) {
                    console.log(JSON.stringify(closedQuestion));
                    questions.push(closedQuestion);
                    $('#previewListGroup').append(previewClosedQuestion(closedQuestion, 'Single choice', questions.length - 1));
                    validatedProperly = true;
                }
                break;
            case "multiple_choice_tab":
                var $activePane = $('.tab-pane.active');
                var questionBody = $activePane.find('.form-control-lg').val();
                var questionType = "MULTIPLE_CHOICE";
                var possibleA = $activePane.find('.possibleA').val();
                var possibleB = $activePane.find('.possibleB').val();
                var possibleC = $activePane.find('.possibleC').val();
                var possibleD = $activePane.find('.possibleD').val();
                var possibleAnswers = new PossibleAnswers(possibleA, possibleB, possibleC, possibleD);
                var closedQuestion = new ClosedQuestion(questionBody, questionType, possibleAnswers);
                if(validateClosedQuestion(closedQuestion)) {
                    console.log(JSON.stringify(closedQuestion));
                    questions.push(closedQuestion);
                    $('#previewListGroup').append(previewClosedQuestion(closedQuestion, 'Multiple choice', questions.length - 1));
                    validatedProperly = true;
                }
                break;
            case "open_tab":
                var $activePane = $('.tab-pane.active');
                var questionBody = $activePane.find('.form-control-lg').val();
                var questionType = "OPEN";
                var question = new Question(questionBody, questionType);
                if(validateQuestion(question)) {
                    console.log(JSON.stringify(question));
                    questions.push(question);
                    $('#previewListGroup').append(previewQuestion(question, 'Open', questions.length - 1));
                    validatedProperly = true;
                }
                break;
            case "ranged_tab":
                var $activePane = $('.tab-pane.active');
                var questionBody = $activePane.find('.form-control-lg').val();
                var questionType = "RANGED";
                var question = new Question(questionBody, questionType);
                if(validateQuestion(question)) {
                    console.log(JSON.stringify(question));
                    questions.push(question);
                    $('#previewListGroup').append(previewQuestion(question, 'Ranged', questions.length - 1));
                    validatedProperly = true;
                }
                break;
        }
        if(validatedProperly) {
            $(".clear-me").map(function () {
                $(this).val("");
            });
        }
    }

    function addSurvey() {
        var surveyName = $('#survey_name').val();
        var surveyDescription = $('#survey_description').val();
        var survey = new Survey(surveyName, surveyDescription, questions);
        if(validateInput(survey)) {
            console.log(JSON.stringify(survey));
            var xhr = new XMLHttpRequest();
            var url = "/my_account/surveys/add";
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if(xhr.responseText === "OK") {
                        window.location.replace("/my_account?success=1");
                    }
                    else {
                        $('#warningModalBody').html('Adding survey not successful. Try again.');
                        $('#warningModal').modal('show');
                    }
                }
            };
            xhr.open("POST", url, true);
            xhr.setRequestHeader(header, token);
            xhr.setRequestHeader("Content-type", "application/json");
            var data = JSON.stringify(survey);
            xhr.send(data);

        }
    }

    function validateInput(survey) {
        if(survey.surveyName === "") {
            $('#warningModalBody').html('Survey\'s name is not specified.');
            $('#warningModal').modal('show');
            return false;
        }
        if(survey.surveyDescription === "") {
            $('#warningModalBody').html('Survey\'s description is not specified.');
            $('#warningModal').modal('show');
            return false;
        }
        if(survey.questions === undefined || survey.questions.length === 0) {
            $('#warningModalBody').html('Survey must contain questions.');
            $('#warningModal').modal('show');
            return false;
        }
        return true;
    }

    function validateQuestion(question) {
        if(question.questionBody === "") {
            $('#warningModalBody').html('Question body cannot be empty.');
            $('#warningModal').modal('show');
            return false;
        }
        return true;
    }

    function validateClosedQuestion(closedQuestion) {
        if(closedQuestion.questionBody === "") {
            $('#warningModalBody').html('Question body cannot be empty.');
            $('#warningModal').modal('show');
            return false;
        }
        if(closedQuestion.possibleAnswers.possibleAnswerA === "" || closedQuestion.possibleAnswers.possibleAnswerB === "" ||
            closedQuestion.possibleAnswers.possibleAnswerC === "" || closedQuestion.possibleAnswers.possibleAnswerD === "") {
            $('#warningModalBody').html('All answers must be supplied.');
            $('#warningModal').modal('show');
            return false;
        }
        return true;
    }

    function previewClosedQuestion(question, questionType, id) {
        var questionName = question.questionBody.toString();
        questionName = questionName.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27')
                .replace(/>/g, '&gt').replace(/\//g, '&#x2F');
        var possibleAnswerA = question.possibleAnswers.possibleAnswerA.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27')
            .replace(/>/g, '&gt').replace(/\//g, '&#x2F') ;
        var possibleAnswerB = question.possibleAnswers.possibleAnswerB.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27')
            .replace(/>/g, '&gt').replace(/\//g, '&#x2F') ;
        var possibleAnswerC = question.possibleAnswers.possibleAnswerC.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27')
            .replace(/>/g, '&gt').replace(/\//g, '&#x2F') ;
        var possibleAnswerD = question.possibleAnswers.possibleAnswerD.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;').replace(/'/g, '&#x27')
            .replace(/>/g, '&gt').replace(/\//g, '&#x2F') ;

        return '<li id="' + id +'" class="list-group-item list-group-item-action flex-column align-items-start mx-auto">' +
                '<i class="fa fa-times float-right mb-3 text-danger" onclick="deleteQuestion(this)"></i>' +
                '<i class="fa fa-arrow-down float-right mb-3 text-danger mr-3" onclick="moveDownQuestion(this)"></i>' +
                '<i class="fa fa-arrow-up float-right mb-3 text-danger mr-3" onclick="moveUpQuestion(this)"></i>' +
                '<div class="d-flex w-100 justify-content-between">' +
                    '<h5 class="mb-1">' + questionName + '</h5>'+
                    '<small> Type: ' + questionType +'</small>' +
                '</div>' +
                '<div class="row">\n' +
                '    <div class="col-sm-6">\n' +
                '      <p>' + possibleAnswerA + '</p>\n' +
                '    </div>\n' +
                '    <div class="col-sm-6">\n' +
                '      <p>' + possibleAnswerB + '</p>\n' +
                '    </div>\n' +
            '    </div>' +
                '<div class="row">\n' +
                '    <div class="col-sm-6">\n' +
                '      <p>' + possibleAnswerC + '</p>\n' +
                '    </div>\n' +
                '    <div class="col-sm-6">\n' +
                '      <p>' + possibleAnswerD + '</p>\n' +
                '    </div>\n' +
            '    </div>' +
                '</li>';
    }

    function previewQuestion(question, questionType, id) {
        var questionName = question.questionBody;
        return '<li id="' + id +'" class="list-group-item list-group-item-action flex-column align-items-start mx-auto">' +
            '<i class="fa fa-times float-right mb-3 text-danger"  onclick="deleteQuestion(this)"></i>' +
            '<i class="fa fa-arrow-down float-right mb-3 text-danger mr-3" onclick="moveDownQuestion(this)"></i>' +
            '<i class="fa fa-arrow-up float-right mb-3 text-danger mr-3" onclick="moveUpQuestion(this)"></i>' +
            '<div class="d-flex w-100 justify-content-between">' +
            '<h5 class="mb-1">' + questionName + '</h5>'+
            '<small> Type: ' + questionType +'</small>' +
            '</div>' +
            '</li>';
    }

    function deleteQuestion(caller) {
        if(questions.length === 1) {
            $(caller).closest('li').remove();
            questions.pop();
        }
        else {
            var index = $(caller).closest('li').attr('id');
            questions.splice(index, 1);
            $(caller).closest('li').remove();
        }
    }

    function moveUpQuestion(caller) {
        var index = $(caller).closest('li').attr('id');
        if(index > 0) {
            var newIndex = parseInt(index, 10) - 1;
            var temp = questions[index];
            questions[index] = questions[newIndex];
            questions[newIndex] = temp;

            $(caller).closest('li').attr('id', newIndex);
            $(caller).parent().prev().attr('id', index);

            $(caller).parent().insertBefore($(caller).parent().prev());
        }
    }

    function moveDownQuestion(caller) {
        var index = $(caller).closest('li').attr('id');
        if(index < (questions.length - 1)) {
            var newIndex = parseInt(index, 10) + 1;
            var temp = questions[newIndex];
            questions[newIndex] = questions[index];
            questions[index] = temp;
            $(caller).closest('li').attr('id', newIndex);
            $(caller).parent().next().attr('id', index);

            $(caller).parent().insertAfter($(caller).parent().next());
        }

    }
</script>
<style>
    .clear-me {}
    .possibleA {}
    .possibleB {}
    .possibleC {}
    .possibleD {}

    .fixed-panel {
        min-height: 75vh;
        max-height: 75vh;
        overflow: scroll;
    }
</style>
</html>