<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<form th:action="@{/my_account/manage_surveys/view_existing_surveys/view_concrete_survey}" method="get">
    <select name="surveyId">
        <option th:each="survey : ${surveys}" th:value = "${survey.id}" th:utext="${survey.surveyName} + ' ' + ${survey.voucher.voucherDescription}"></option>
    </select>
    <input type="submit" th:value="send">
</form>
</body>
</html>