<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Surveys management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor">
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<div class="container my-5 pt-5">

    <div class="alert alert-success alert-dismissible fade show my-5 mx-auto" role="alert" th:if="${(param.success != null) and (param.success[0] == '1')}">
        <strong>Survey added successfully!</strong> You should add a Voucher to it right now.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-light btn-lg float-right" th:href="@{/my_account/surveys/add}">Add survey</a>
        </div>
    </div>

    <div th:each="survey : ${surveyList}">
        <div class="card mx-auto my-5 bg-light border-info" style="width: 50rem;" th:classappend="${survey.voucher == null} ? inactive">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <a class="text-dark" th:href="@{${'/my_account/surveys/'+survey.Id}}">
                            <h3 class="display-3" th:text="${survey.surveyName}">Survey name</h3>
                        </a>
                        <small class="text-muted" th:text="${'Created on: '+survey.creationDate}">Date</small>
                    </div>
                    <div class="col">
                            <a class="float-right text-info" th:href="@{${'/my_account/statistics/'+survey.Id}}">
                                <i class="fa fa-bar-chart fa-lg" data-toggle="tooltip" data-placement="right" title="Statistics"></i>
                            </a>
                    </div>
                </div>
                <div class="row my-1" th:if="${survey.voucher != null}">
                    <div class="col">
                        <p class="lead d-inline">Voucher: </p>
                        <a class="lead d-inline" th:text="${survey.voucher.voucherDescription}" th:href="@{${'/my_account/surveys/'+survey.Id}+'/voucher'}"></a>
                    </div>
                    <div class="col">
                        <div th:unless="${survey.isActive()}">
                            <a class="btn btn-outline-success float-right" th:href="@{${'/my_account/surveys/'+survey.Id}+'/voucher'}">Add voucher code</a>
                        </div>
                    </div>
                </div>
                <div class="row my-1" th:if="${survey.voucher == null}">
                    <div class="col">
                        <p class="lead d-inline">Voucher: </p>
                        <p class="lead d-inline">none</p>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" th:href="@{${'/my_account/surveys/'+survey.Id}+'/addVoucher'}">Add voucher</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <small class="text-success lead" th:if="${survey.isActive()}" th:text="${'Active'}">Activity</small>
                        <small class="text-danger lead" th:unless="${survey.isActive()}" th:text="${'Inactive'}">Activity</small>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#deleteSurveyModal">
                            Delete survey
                        </button>
                        <form method="post" id="deleteSurvey" th:action="@{${'/my_account/surveys/del/'+survey.Id}}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- Modal -->
<div id="deleteSurveyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You are about to delete a survey!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete the survey? You <span class="text-danger"><strong>will not</strong></span>  be able to revert this change.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteSurvey()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>

<style>
    .inactive {
        opacity: 0.7;
    }
</style>

<script>
    var invoker = null;
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#deleteSurveyModal').on('show.bs.modal', function (e) {
        invoker = $(e.relatedTarget);
    });

    function deleteSurvey() {
        if(invoker == null) {
            console.log("Error");
        }
        else {
            $(invoker).siblings('form').submit();
        }
    }
</script>