<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/fragments/dashboard.html :: dashboard"></div>
<form method="get" th:action="@{/my_account/surveys/add}">
    <input type="submit" value="Create New Survey"/>
</form>
<br>
<th:block th:each="survey : ${surveyList}">
    <div>
        <a th:href="@{${'/my_account/surveys/'+survey.Id}}" th:text="${survey.surveyName}">One of you surveys</a>
    </div>
    <th:block th:if="${survey.isActive()}">
        <div th:text="${'ACTIVE'}"></div>
    </th:block>
    <th:block th:unless="${survey.isActive()}">
        <div th:text="${'NOT ACTIVE'}"></div>
    </th:block>
    <div>
        <a th:href="@{${'/my_account/surveys/'+survey.Id}+'/voucher'}" th:text="${'Edit voucher'}" th:if="${survey.voucher!=null}">One of you surveys</a>
    </div>
    <div>
        <a th:href="@{${'/my_account/surveys/'+survey.Id}+'/addVoucher'}" th:text="${'Add voucher'}" th:if="${survey.voucher==null}">One of you surveys</a>
    </div>
    <div th:text="${'Created on: '+survey.creationDate}"></div>
    <br>
</th:block>
</body>
</html>