<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav th:fragment="dashboard" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark d-flex flex-row-reverse">
        <form method="post" th:action="@{/my_account/logout}">
            <a class="navbar-brand" href="#" onclick="this.parentNode.submit();">Logout</a>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <!--<a class="navbar-brand" th:href="@{/my_account/statistics}">Statistics</a>-->
        <a class="navbar-brand" th:href="@{/my_account/}">Manage surveys</a>
        <a class="navbar-brand" th:href="@{/my_account/account_panel}">Account Panel</a>
    </nav>
    <nav th:fragment="userDashboard" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark d-flex flex-row-reverse">
        <a class="navbar-brand" th:href="@{/sign_in}">Sign in</a>
        <a class="navbar-brand" th:href="@{/sign_up}">Sign up</a>
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <a class="navbar-brand" th:href="@{/companies}">Complete Survey</a>
    </nav>
</body>
</html>