<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav th:fragment="dashboard" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
        <div sec:authorize="hasRole('COMPANY')" class="d-flex w-100">
            <a class="navbar-brand fa fa-arrow-left fa-lg float-left text-light my-auto" onclick="history.go(-1);"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogged" aria-controls="navbarLogged" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLogged">
                <ul class="navbar-nav ml-auto w-100 justify-content-end">

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/my_account/account_panel}">Account panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/my_account/}">Manage surveys</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/my_account/logout}">
                    <a class="navbar-brand" href="#" onclick="this.parentNode.submit();">Logout</a>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
        <div sec:authorize="!hasRole('COMPANY')" class="d-flex w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNotLogged" aria-controls="navbarNotLogged" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNotLogged">
                <ul class="navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/companies}">Complete survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sign_up}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sign_in}">Sign in</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</body>
</html>