<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Activate account site
    <div th:switch="${activationResult}">
        <th:block th:case="${T(pwr.groupproject.vouchers.bean.enums.TokenStatus).OK}">ACTIVATED</th:block>
        <th:block th:case="${T(pwr.groupproject.vouchers.bean.enums.TokenStatus).EXPIRED">TOKEN EXPIRED, HAS BEEN RESENT</th:block>
        <th:block th:case="${T(pwr.groupproject.vouchers.bean.enums.TokenStatus).WRONG">WRONG LINK</th:block>
        <th:block th:case="*">SOMETHING WENT WRONG. CONTACT US</th:block>
    </div>
</body>
</html>