<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/globalStyle.css}" />
<head>
    <meta charset="UTF-8">
    <title>Password changed successfully!</title>
</head>
<body class="defaultColor">
<div class="container">
    <div class="text-center" style="">
        <h3 class="display-3 mx-auto text-center text-white">Password changed successfully!</h3>
        <a class="btn btn-primary mx-auto text-center btn-lg mt-5" th:href="@{/sign_in}">Login</a>
    </div>

</div>

</body>
</html>

<style>
    html,
    body {
        height: 100%
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>