<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgot password site</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/globalStyle.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor">
        <div class="container defaultColor">
            <div class="row">
                <div class="col-md-9">
                    <div class="card text-center">
                        <div class="card-header">
                            Password recovery
                        </div>
                        <form method="post" th:action="@{/forgot_password}" th:object="${form}">
                            <div class="card-body">
                            <h4 class="card-title">Please enter your email address. </h4>
                            <div class="card">
                                <div class="card-block">
                                    <div th:insert="fragments/fields_input.html :: inputText(#{label.eMail},'userName')"></div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text"></p>
                                    <input type="submit" class="btn btn-primary" name="submit" value="submit"/>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<style>
    html,
    body {
        height: 100%
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>