<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password site</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/globalStyle.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="defaultColor defaultMaxWidth mx-auto">
<div th:insert="/fragments/dashboard.html :: userDashboard"></div>
<div class="container">
    <div class="card card-login mx-auto" style="margin-top:8rem">
        <div class="card-header">Recover password</div>
        <div class="card-body">
            <form method="post" th:action="@{/forgot_password}" th:object="${form}">
                <div th:insert="fragments/fields_input.html :: bootStrapInputText(#{label.eMail},'userName','Enter E-mail')"></div>
                <input class="btn btn-primary btn-block mt-4" type="submit" value="Submit"/>
                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>