<!DOCTYPE html>
<html lang="en" xxmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/forgot_password}">forgot password</a>
<br>
<form th:action="@{/sign_in}" method="post">
    <table>
        <tr>
            <td><input type="text" id="username" name="username"
                       th:placeholder="username"/></td>
        </tr>
        <tr>
            <td><input type="password" th:placeholder="password"
                       id="password" name="password"/></td>
        </tr>
        <tr>
            <td>
                <th:block th:if="${errorCode}">
                    <div th:switch="${errorCode}" th:remove="tag">
                        <div th:case="${T(pwr.groupproject.vouchers.bean.enums.ErrorCode).WRONG_USERNAME}">
                            <span th:text="#{messages.wrong.login}"></span>
                        </div>
                        <div th:case="${T(pwr.groupproject.vouchers.bean.enums.ErrorCode).WRONG_PASSWORD}">
                            <span th:text="#{messages.wrong.login}"></span>
                        </div>
                        <div th:case="${T(pwr.groupproject.vouchers.bean.enums.ErrorCode).NOT_ACTIVATED}">
                            <span th:text="#{messages.account.not.activated}"></span>
                        </div>
                        <div th:case="*">
                            <span th:text="#{messages.wrong.login}"></span>
                        </div>
                    </div>
                </th:block>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/> <input type="hidden"
                                                             name="${_csrf.parameterName}"
                                                             value="${_csrf.token}"/></td>
            <td><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
</body>
</html>